{% import "_includes/forms" as forms %}

{% set widgetId = '#widget' ~ widget.id %}
<div id="{{ id }}" class="visits-recent-widget">
    {% if craft.app.getIsMultiSite() %}
        {% set allSites = craft.app.sites.getAllSites() %}
        {% set editableSites = craft.app.sites.getEditableSites() %}
            {% set siteInput %}
                <div class="select">
                    <select id="site-id" name="siteId">
                        {% if allSites|length == editableSites|length %}
                            <option value="*"{% if widget.siteId=='*' %} selected{% endif %}>{{ 'All'|t('site') }}</option>
                        {% endif %}
                        {% for site in editableSites %}
                            <option value="{{ site.id }}"{% if site.id == widget.siteId %} selected{% endif %}>{{ site.name|t('site') }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endset %}

            {{ forms.field({
                id: 'site-id',
                label: "Site"|t('app')
            }, siteInput) }}
    {% endif %}

    {% set dateRangeInput %}
        <div class="select">
            <select id="dateRange" name="dateRange">
                <option value="thisHour"{% if widget.dateRange=='thisHour' %} selected{% endif %}>{{ 'This hour'|t('counter') }}</option>
                <option value="previousHour"{% if widget.dateRange=='previousHour' %} selected{% endif %}>{{ 'Previous hour'|t('counter') }}</option>
                <option value="today"{% if widget.dateRange=='today' %} selected{% endif %}>{{ 'Today'|t('counter') }}</option>
                <option value="yesterday"{% if widget.dateRange=='yesterday' %} selected{% endif %}>{{ 'Yesterday'|t('counter') }}</option>          
            </select>
        </div>
    {% endset %}

    {{ forms.field({
        id: 'dateRangeId',
        label: "Date Range"|t('counter')
    }, dateRangeInput) }}

    {{ forms.lightswitchField({
        label: 'Show chart'|t('counter'),
        id: 'showChart',
        name: 'showChart',
        required: false,
        value: 1,
        on: widget.showChart is defined ? widget.showChart, 
    }) }}

    {% include 'counter/_components/widgets/_includes/_preferredInterval' with { id: namespaceId, widget: widget } %}

    {{ forms.lightswitchField({
        label: 'Show visitors data on chart'|t('counter'),
        id: 'showVisitor',
        name: 'showVisitor',
        required: false,
        value: 1,
        on: widget.showVisitor is defined ? widget.showVisitor, 
    }) }}

    {{ forms.lightswitchField({
        label: 'Ignore visits interval'|t('counter'),
        id: 'ignoreVisitsInterval',
        name: 'ignoreVisitsInterval',
        required: false,
        value: 1,
        on: widget.ignoreVisitsInterval is defined ? widget.ignoreVisitsInterval,
        instructions: 'Selecting this option shows the total number of visits, including those ignored by the visit interval setting.'|t('counter'),
    }) }}
</div>
{% css %}
    {{ widgetId }} div[data-attribute="showVisitor"] {
        display: none;
    }
    {{ widgetId }} div[data-attribute="preferredIntervalInput"] {
        display: none;
    }
{% endcss %}

{% js %}
    if ($('{{ widgetId }} div[data-attribute="showChart"] input').val() == '1') {
        $('{{ widgetId }} div[data-attribute="showVisitor"]').css('display', 'block');
        $('{{ widgetId }} div[data-attribute=preferredIntervalInput]').css('display', 'block');
    }
    $('{{ widgetId }} div[data-attribute="showChart"] .lightswitch').on('change', function() {
        var isEnabled = $(this).find('input').val();
        if (isEnabled) {
            $('{{ widgetId }} div[data-attribute="showVisitor"]').css('display', 'block');
            $('{{ widgetId }} div[data-attribute=preferredIntervalInput]').css('display', 'block');
        } else {
            $('{{ widgetId }} div[data-attribute="showVisitor"] .lightswitch').data('lightswitch').turnOff(true);
            $('{{ widgetId }} div[data-attribute="showVisitor"]').css('display', 'none');
            $('{{ widgetId }} div[data-attribute=preferredIntervalInput]').css('display', 'none');
        }
    });
{% endjs %}
{#
    // JS and CSS For on fly widget creation
#}
{% do view.registerAssetBundle("vnali\\counter\\assets\\CounterWidgetSettingsAsset") %}