{% import "_includes/forms" as forms %}

<div id="{{ id }}">
    {% if craft.app.getIsMultiSite() %}
    {% set allSites = craft.app.sites.getAllSites() %}
    {% set editableSites = craft.app.sites.getEditableSites() %}
        {% set siteInput %}
            <div class="select">
                <select id="site-id" name="siteId">
                    {% if allSites|length == editableSites|length %}
                        <option value="*"{% if widget.siteId=='*' %} selected{% endif %}>{{ 'All'|t('site') }}</option>
                    {% endif %}
                    {% for site in editableSites %}
                        <option value="{{ site.id }}"{% if site.id == widget.siteId %} selected{% endif %}>{{ site.name|t('site') }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endset %}

        {{ forms.field({
            id: 'site-id',
            label: "Site"|t('app')
        }, siteInput) }}
    {% endif %}

    {% set rangeInput %}
        <div class="select">
            <select id="dateRange" name="dateRange">
                <option value="today"{% if widget.dateRange=='today' %} selected{% endif %}>{{ 'Today'|t('counter') }}</option>
                <option value="thisWeek"{% if widget.dateRange=='thisWeek' %} selected{% endif %}>{{ 'This week'|t('counter') }}</option>
                <option value="thisMonth"{% if widget.dateRange=='thisMonth' %} selected{% endif %}>{{ 'This month'|t('counter') }}</option>
                <option value="thisYear"{% if widget.dateRange=='thisYear' %} selected{% endif %}>{{ 'This year'|t('counter') }}</option>
            </select>
        </div>
    {% endset %}

    {{ forms.field({
        id: 'rangeInput',
        label: "Date Range"|t('counter')
    }, rangeInput) }}

    {% set typeInput %}
        <div class="select">
            <select id="growthType" name="growthType">
                <option value="percentage"{% if widget.growthType=='percentage' %} selected{% endif %}>{{ 'Percentage'|t('counter') }}</option>
                <option value="count"{% if widget.growthType=='count' %} selected{% endif %}>{{ 'Count'|t('counter') }}</option>
            </select>
        </div>
    {% endset %}

    {{ forms.field({
        id: 'growthTypeField',
        label: "Growth type"|t('counter'),
        tip: "When percentage type is selected, pages without data in previous date range are ignored."|t('counter'),
    }, typeInput) }}

    {{ forms.lightswitchField({
        label: 'Ignore new pages'|t('counter'),
        id: 'ignoreNewPages',
        name: 'ignoreNewPages',
        required: false,
        value: 1,
        on: widget.ignoreNewPages is defined ? widget.ignoreNewPages,
        tip: "To exclude pages without data from the previous date range in the results."|t('counter'),
    }) }}

    {{ forms.textField({
        label: 'Limit'|t('counter'),
        id: 'limit',
        name: 'limit',
        required: true,
        value: widget.limit,
    }) }}
</div>
{% js %}
    if ($('div[data-attribute="growthTypeField"] select').val() == 'percentage') {
        $('div[data-attribute="ignoreNewPages"]').css('display', 'none');
    } else {
        $('div[data-attribute="growthTypeField"] .notice').css('display', 'none');
    }
    $('div[data-attribute="growthTypeField"] select').on("change", function () {
        if ($('div[data-attribute="growthTypeField"] select').val() == 'percentage') {
            $('div[data-attribute="growthTypeField"] .notice').css('display', 'block');
            $('div[data-attribute="ignoreNewPages"]').css('display', 'none');
        } else if ($('div[data-attribute="growthTypeField"] select').val() != 'percentage') {
            $('div[data-attribute="ignoreNewPages"]').css('display', 'block');
            $('div[data-attribute="growthTypeField"] .notice').css('display', 'none');
        }
    });
{% endjs %}